// flex盒子居中
@mixin box-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// flex盒子垂直居中
@mixin box-align-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

// 水平居中
@mixin aligin-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// 清除滚动条
@mixin scroll-bar-none {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}